/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3cae5; /* Agrega el color de fondo que desees */
}

header {
    position: relative;
    background-color: rgba(231, 152, 189, 0.7); /* Cambia el valor de opacidad (0.7 en este caso) según tu preferencia */
    height: 52px; /* Ajusta la altura según tu preferencia */
    margin: 0; /* Elimina cualquier margen */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 0; /* Elimina el margen superior */
}

nav li {
    margin: 0 1em;
}

nav a {
    /* ... (otros estilos) ... */
    color: #E1306C; /* Color del texto */
    font-size: 36px; /* Ajusta el tamaño de la letra según tus preferencias */
    color: #FFF; /* Cambia el color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de relieve */
    margin: 10px; /* Ajusta el margen según tus preferencias */
}

/* Imagen de fondo en el encabezado */
.hero-background {
    background-image: url('../img/contadoras.jpeg');
    background-size: cover; /* Cambia a 'cover' para ajustar la imagen a la pantalla */
    background-repeat: no-repeat;
    background-position: center center;
    height: 98vh;
    width: 100%;
    position: absolute;
    top: 52px; /* Ajusta el valor para que la imagen esté bien pegada al header */
    left: 0;
    z-index: -1;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .hero-background {
        position: static;
        height: 300px; /* Ajusta la altura según tus preferencias */
    }
}

@keyframes slideDown {
    0% {
        top: 0; /* Comienza desde más arriba de la vista */
    }
    100% {
        top: 52px; /* Termina en su posición normal */
    }
}

/* Otros estilos y secciones aquí */


/* Otras secciones y estilos aquí */

/* Footer */
footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Empuja el footer al final */
}

/* ... (otros estilos) ... */

.section-white {
    background-color: #ffffff;
    padding: 4em 0;
    text-align: center;
    color: #050505;
    position: relative;
    z-index: 1;
    margin-top: 85vh; /* Ajusta el valor de margen-top según tu preferencia */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* ... (otros estilos) ... */

/* Media Queries para tamaños de pantalla */
@media (max-width: 768px) {
    /* Ajusta los estilos para pantallas más pequeñas aquí */
    .section-content {
        font-size: 1.2em; /* Ejemplo de ajuste de fuente */
    }
    
    /* Ajusta el margen superior de .section-white para dispositivos móviles */
    .section-white {
        margin-top: 40vh; /* Ajusta el valor según tu preferencia */
    }

    /* Puedes agregar más ajustes aquí */
}

/* ... (otros estilos) ... */


.section-white:hover {
    background-color: #f3cae5;
    color: #000000;
    transform: scale(1.05); /* Agranda ligeramente la sección al pasar el cursor */
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Your Custom Font', Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6em;
}



.section-colored {
    background-color: #f3cae5;
    padding: 4em 0;
    text-align: center;
    color: #050505;
    position: relative;
    z-index: 1;
    margin-top: 1vh;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Agrega transiciones para color de fondo, color del texto y transformación */
}
.section-colored:hover {
    background-color: #d18bb1;
    color: #000000;
    transform: scale(1.05); /* Agranda ligeramente la sección al pasar el cursor */
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Your Custom Font', Arial, sans-serif;/* Cambia 'Pacifico' por el nombre de la fuente que elijas */
    line-height: 1.6;
    text-align: left; /* Alineación del texto a la izquierda */
    padding-left: 20px; /* Espacio en el inicio del párrafo */
    padding-right: 20px; /* Espacio en el final del párrafo */
    font-size: 1.6em;
}
.section-tercera {
    background-color: #d18bb1;
    padding: 4em 0;
    text-align: center;
    color: #050505;
    position: relative;
    z-index: 1;
    margin-top: 0vh;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.section-tercera:hover {
    background-color: #f17d92;
    color: #000000;
    transform: scale(1.05); /* Agranda ligeramente la sección al pasar el cursor */
}

.section-terceracontent {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Your Custom Font', Arial, sans-serif;/* Cambia 'Pacifico' por el nombre de la fuente que elijas */
    line-height: 1.6;
    text-align: left; /* Alineación del texto a la izquierda */
    padding-left: 20px; /* Espacio en el inicio del párrafo */
    padding-right: 20px; /* Espacio en el final del párrafo */
    font-size: 1.6em;
}
.section-cuarta {
    background-color: #f17d92;
    padding: 4em 0;
    text-align: center;
    color: #050505;
    position: relative;
    z-index: 1;
    margin-top: 0vh;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.section-cuarta:hover {
    background-color: #e95d76;
    color: #000000;
    transform: scale(1.05); /* Agranda ligeramente la sección al pasar el cursor */
}

.section-concuarta {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Your Custom Font', Arial, sans-serif;/* Cambia 'Pacifico' por el nombre de la fuente que elijas */
    line-height: 1.6;
    text-align: left; /* Alineación del texto a la izquierda */
    padding-left: 20px; /* Espacio en el inicio del párrafo */
    padding-right: 20px; /* Espacio en el final del párrafo */
    font-size: 1.6em;
}
/* ... (estilos anteriores) ... */

/* Estilos para el botón de Instagram */
.instagram-button {
    text-align: center;
    margin-top: 1em;
}

.instagram-button a {
    display: inline-block;
    background-color: #E1306C;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Ajusta el valor de font-size para reducir el tamaño de la letra */
}

.instagram-button a:hover {
    background-color: #C41851;
}


.service-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.service-item {
    flex-basis: calc(33.33% - 1em);
    text-align: center;
    padding: 0 0.5em;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 8px; /* Ajusta el valor de padding para reducir el tamaño */
    background-color: #e1306c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Ajusta el tamaño de la letra del botón */
}

.contact-form button:hover {
    background-color: #c41851;
}


/* Media Queries para tamaños de pantalla */
@media (max-width: 768px) {
    /* Ajusta los estilos para pantallas más pequeñas aquí */
    .section-content {
        font-size: 1.2em; /* Ejemplo de ajuste de fuente */
    }
    
    /* Puedes agregar más ajustes aquí */
}


/* Estilos para la imagen del footer */
/* Estilos para el footer */
footer {
    background-color: #292a2c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Empuja el footer al final */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 800px;
    margin: 0 auto;
}

.contact-info {
    text-align: left;
}

.footer-image {
    text-align: right;
    flex-basis: 30%; /* Ajusta el ancho de la imagen */

    padding: 10px; /* Agrega un espacio de relleno alrededor de la imagen */
    box-sizing: border-box; /* Incluye el borde en el tamaño total del elemento */
}

.footer-image img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}
p {
    font-size: 16px; /* Ajusta el tamaño de la letra según tus preferencias */
}
/* Achicar el tamaño de la letra para los elementos <h1> */
h1 {
    font-size: 30px; /* Ajusta el tamaño de la letra según tus preferencias */
}

